body, html {margin: 0;padding: 0;}

.item { /* basic item in a container */
  /* width: 30%; */
  padding: 5vw;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 70vh;
}

.title {
  display: flex;
  justify-content: center;
  padding: 5vh;
  font-family: "Courier New", monospace;
  color: #232931;
  font-weight: bold;
  background-color: #4ECCA3;
  width: 50%;
  border-radius: 10px;
  /* border-style: solid;
  border-width: thick;
  border-color: #393E46; */
  box-shadow: 5px 5px 3px #393E46;

}

header {
  padding: 5vh;
  display: flex;
  justify-content: center;

}


.start {
  display: flex;
}

.other {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

button {
  background-color: #4ECCA3;
  width: 50vh;
  padding: 4vh;
  border: none;
  font-family: "Courier New", monospace;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 5px 5px 3px #393E46;
  color: #232931;
  font-weight: bold;

}


.page {
  background-color: #CDD0CB;
  width: 100vw;
  height: 100vh;
  padding: 0;
}