body, html {margin: 0;padding: 0;}

.item { /* basic item in a container */
  padding: 4vw;
}

label {
  padding: 2vw;
}

.gamecontainer {
  display: flex;
  justify-content:flex-start;
  flex-flow: row wrap;
  /* height: 60vh; */
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 60vh;
}

.title {
  display: flex;
  justify-content: center;
  padding: 5vh;
  font-family: "Courier New", monospace;
  color: #232931;
  font-weight: bold;
  background-color: #4ECCA3;
  width: 50%;
  border-radius: 10px;
  /* border-style: solid;
  border-width: thick;
  border-color: #393E46; */
  box-shadow: 5px 5px 3px #393E46;

}

.completedGames {
  display: flex;
  justify-content: center;
}
header {
  padding-top: 5vh;
  display: flex;
  justify-content: center;
}

footer {
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
}

.other {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background-color: #4ECCA3;
  width: 50vh;
  padding: 4vh;
  border: none;
  font-family: "Courier New", monospace;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 5px 5px 3px #393E46;
  color: #232931;
  font-weight: bold;
  cursor: pointer;

}

.game {
  width: auto;
  font-size: 8px;
  height: auto;
  /* width: 25%; */
}

.gamebox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw;
}

button:hover {
  background-color: #60ffca
}

.title:hover {
  background-color: #60ffca
}

button:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: 1px 1px 3px #393E46;
}


.page {
  background-color: #CDD0CB;
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.guessbox {
  width: 5vw;
  height: 5vw;
}

.gameview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85vw;
  background-color: #4ECCA3;
  padding: 4vh;
  padding-top: 0vh;
  border: none;
  font-family: "Courier New", monospace;
  border-radius: 10px;
}

.centertext {
  text-align: center;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.colorbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vh;
  flex: 1;
}

.colorsquare {
  display: flex;
  padding: 3vh;
}

.color {

  height:2vh;
  width:auto;
  display: inline-block;
  background-color: #ca4ecc;
  /* width:auto; */
  /* width: 10vh; */
  padding: 0vh;
  /* border-radius: 10px; */
  /* font-size: 16px; */
  box-shadow: none;
  /* color: #232931; */
  /* font-weight: bold; */
  cursor: default;
}

.rules {
  font-family: "Courier New", monospace;
}

body {
  margin: 0;
  /* padding: 15px; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 100%;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.box2 {
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.close-icon2 {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(20% - 2px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.guess {
  float:left
}

.Login {

  margin: 10px;
}

.Signup {

  margin: 10px;
}